@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
body {
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    height:122%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: black;
    margin: 0px;
    display:inline;
}
html {
    width:100%;
    background: black;
    overflow-x: hidden;
}
#mouseon{
    width:65vmin;
    border-color: gray;
    border-spacing: 10px;
    font-size: 2.3vmin;
    text-align:left;
    height: 30vmin;
    line-break:strict;
    font-family: 'Anonymous Pro', monospace;
    text-align-last: left;
    color :#73AD21;
    z-index: 10;
    cursor:grab;
    user-select: none;
}
@keyframes shadowing{
    0%{
        text-shadow: 0px 0px 5px #00ff22;
    }
    15%{
        text-shadow: 0px 0px 5px rgba(8, 49, 3, 0.651);
    }
    100%{
        text-shadow: 0px 0px 5px #00ff22;
    
    }

}
#borderwindow{
    box-shadow: 0px 0px 20px #568a0d98;
    width:70vmin;
    border-color: gray;
    border: 1px solid #73AD21;
    border-spacing: 10px;
    margin: 40px auto;
    height: 30vmin;
    color :#73AD21;
    line-height: 7vmin;
    background: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px #00ff22;
    z-index: 10;
    animation-name : shadowing;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
}
#hide{
    opacity:0;
    transition: 1.5s;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
#portfoilo{
    height:35vmin;
    width: auto;
    align-content: center;
    transition: 500ms;
    font-size: 3vmin;
    position: relative;
    top: -3vmin;
    box-shadow: 0px 0px 20px #568a0d98;
    width: 70vmin;
    border-color: gray;
    border: 1px solid #73AD21;
    height: 50vmin;
    transition: 1s;
    color :#73AD21;
    line-height: 1vmin;
    z-index: 10;
    align-content: center;
    text-shadow: white;
    background-color: rgba(0, 0, 0, 0.63);
}
h3{
    color: gainsboro;
}
#portfoilo:hover{
    opacity: 0;
}
#img01{
    font-size: 5vmin;
    height: 50vmin;
    width: 70vmin;
    position:relative;
    top:-13.5vmin;
    margin-top: -40vmin;
    border: 1px solid #73AD21;
    transition: 1s;
}
.container {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:5vmin;
  }
  
  .container span {
    display: block; 
    
  }
  
  .text1 {
    color: rgb(7, 131, 7);
    font-size: 3vmin;
    font-weight: 700;
    position: relative;
    bottom: -0.8vmin;
    font-family: 'Anonymous Pro', monospace;
    
  }
  .text1::after{
    content: "H";
    animation-name: text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
  }
  @keyframes text {
    0% {
    content: "H_";
    }
    4% {
    content: "Ho_";
    }
    8% {
    content: "Hou_";
    }
    12% {
    content: "Houss_";
    }
    16% {
    content: "Housse_";
    }
    20% {
    content: "Houssem_";
    }
    24% {
    content: "Houssem C_";
    }
    28% {
    content: "Houssem Ch_";
    }
    32% {
    content: "Houssem Che_";
    }
    36% {
    content: "Houssem Chel_";
    }
    40% {
    content: "Houssem Cheli_";
    }
    44% {
    content: "Houssem Chelih_";
    }
    48% {
    content: "Houssem Chelihi_";
    }
    52% {
    content: "Houssem Chelih_";
    }
    56% {
    content: "Houssem Cheli_";
    }
    60% {
    content: "Houssem Chel_";
    }
    64% {
    content: "Houssem Che_";
    }
    68% {
    content: "Houssem Ch_";
    }
    72% {
    content: "Houssem C_";
    }
    76% {
    content: "Houssem_";
    }
    80% {
    content: "Housse_";
    }
    84% {
    content: "Houss_";
    }
    88% {
    content: "Hous_";
    }
    92% {
    content: "Hou_";
    }
    96% {
    content: "Ho_";
    }
    100% {
    content: "H_";
    }
}