@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
body {
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    height: 150%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: black;
    margin: 0px;
    display:inline;
}
html {
    height: 100%;
    width:100%;
    background: black;
    overflow-x: hidden;
}
#mouseon{
    width:100%;
    height: 100%;
    z-index: 10;
}