@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
body {
    font-family: 'Exo 2', sans-serif;
    color: aliceblue;
    height: 150%;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: black;
    margin: 0px;
    display:inline;
}
html {
    height: 100%;
    width:100%;
    background: black;
    overflow-x: hidden;
}
#mouseon{
    width:60vmin;
    border-color: gray;
    border-spacing: 10px;
    font-size: 2.3vmin;
    text-align:left;
    height: 30vmin;
    line-break:strict;
    font-family: 'Anonymous Pro', monospace;
    text-align-last: left;
    color :#73AD21;
    z-index: 10;
}
#borderwindow{
    width:70vmin;
    border-color: gray;
    border: 5px solid #73AD21;
    border-spacing: 10px;
    margin: 20px auto;
    height: 30vmin;
    color :#73AD21;
    line-height: 7vmin;
    background: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px #00ff22;
    z-index: 10;
}